// global colors
$green: #38785d;
$dark-green: #1f4334;
$gold: #fadb52;
$dark-gold: #6d632c;
$dark: black;
$text-color: white;

// imports
@import "animations";
@import "navigation";
@import "tools";

// html / body
body,
html {
  padding: 0;
  margin: 0;
  background-color: $dark-green;
  color: $text-color;
}
