// global colors
$green: #38785d;
$dark-green: #1f4334;
$gold: #fadb52;
$dark: black;

// imports
@import "animations";
@import "navigation";

// html / body
body,
html {
  padding: 0;
  margin: 0;
  background-color: $dark-green;
  color: white;
}
