// Container
.container {
  width: calc(100vw - 10px);
  padding-right: 5px;
  padding-left: 5px;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
  }
}
